@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  margin: 0;
  padding: 0;
}

/* Target the scrollbar inside xterm */
#terminal .xterm-viewport::-webkit-scrollbar {
  width: 8px;
}

#terminal .xterm-viewport::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

#terminal .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 4px;
}